# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
.npm

# Prisma
prisma/migrations/

# Testing
coverage/
.jest-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
